span.lng {
  font-size: 90%;
  color: gray;
}

div.map {
}

p.map {
}

ul.map {
}

li.map {
}

span.tocTitle {
	font-weight:bold;
}

div.tocInner {
	border:1px solid lightgray;
	padding:0.3em;
  margin:0.8ex 1em 0.8ex 1em;
  margin:1em;
  display:inline-block;
  text-align:left;
}

div.tocOuter {
  text-align:center;
}