span.lng {
  font-size: 90%;
  color: gray;
}

div.map {
}

p.map {
}

ul.map {
}

li.map {
}

span.tocTitle {
	font-weight:bold;
}

div.tocInner {
	border:1px solid lightgray;
	padding:0.3em;
  margin:0.8ex 1em 0.8ex 1em;
  margin:1em;
  display:inline-block;
  text-align:left;
}

div.tocOuter {
  text-align:center;
}


span.math {
  font-family:freeserif, "times new roman", serif;
  font-style:normal;
  font-weight:normal;
  white-space:nowrap;  
}

span.msp {
  font-family:algerian, castellar, "colonna mt", euclid, "imprint mt shadow", msbm, "times new roman", serif;
}

span.vec {
  font-family:freeserif, "times new roman", serif;
  font-weight:bold;
}

span.big {
	font-size: 115%;
}